<div class="center">
  <h2>OPTIONS</h2>
</div>

<!-- TODO: Swap2 mode -->

<div class="options">
  <div class="player">
    <p>Player 1:</p>
    <input type="radio" name="player1" id="human1" value="Human" checked />
    <label for="human1">Human</label>
    <br />
    <input type="radio" name="player1" id="aiEasy1" value="aiEasy" />
    <label for="aiEasy1">AI Easy</label>
    <br />
    <input type="radio" name="player1" id="aiMedium1" value="aiMedium" />
    <label for="aiMedium1">AI Medium</label>
    <br />
    <input type="radio" name="player1" id="aiHard1" value="aiHard" />
    <label for="aiHard1">AI Hard</label>
    <br />
    <input type="radio" name="player1" id="aiImpossible1" value="aiImpossible" />
    <label for="aiImpossible1">AI Impossible</label>
    <br />
  </div>

  <div class="bordSize">
    <p>Board size:</p>
    <input type="radio" name="boardSize" id="9x9" value="9" checked />
    <label for="9x9">9x9</label>
    <br />
    <input type="radio" name="boardSize" id="13x13" value="13" />
    <label for="13x13">13x13</label>
    <br />
    <input type="radio" name="boardSize" id="15x15" value="15" />
    <label for="15x15">15x15</label>
    <br />
    <input type="radio" name="boardSize" id="19x19" value="19" />
    <label for="19x19">19x19</label>
    <br />
  </div>

  <div class="player">
    <p>Player 2:</p>
    <input type="radio" name="player2" id="human2" value="Human" />
    <label for="human2">Human</label>
    <br />
    <input type="radio" name="player2" id="aiEasy2" value="aiEasy" checked />
    <label for="aiEasy2">AI Easy</label>
    <br />
    <input type="radio" name="player2" id="aiMedium2" value="aiMedium" />
    <label for="aiMedium2">AI Medium</label>
    <br />
    <input type="radio" name="player2" id="aiHard2" value="aiHard" />
    <label for="aiHard2">AI Hard</label>
    <br />
    <input type="radio" name="player2" id="aiImpossible2" value="aiImpossible" />
    <label for="aiImpossible2">AI Impossible</label>
    <br />
  </div>
</div>
<div class="center">
  <br />
  <button (click)="startGame()">NEW GAME</button>
</div>
