.textInfo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.board {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

#boardCanvas {
  cursor: pointer;
}
